.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(../fonts/f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.334000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(../fonts/f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.385000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(../fonts/f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.855469;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(../fonts/f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.007680px;}
.ls3{letter-spacing:0.146000px;}
.ls1{letter-spacing:0.240000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-1.076160px;}
._1{width:1.128960px;}
._5{width:2.555520px;}
._12{width:8.936000px;}
._3{width:55.360960px;}
._b{width:61.476000px;}
._6{width:67.380000px;}
._9{width:71.672000px;}
._a{width:74.380160px;}
._2{width:76.448800px;}
._8{width:121.075200px;}
._d{width:132.896000px;}
._7{width:138.321792px;}
._c{width:144.032160px;}
._f{width:148.860000px;}
._e{width:149.916000px;}
._11{width:151.916000px;}
._10{width:156.964000px;}
._0{width:272.212640px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs9{font-size:27.840000px;}
.fsa{font-size:27.936000px;}
.fsc{font-size:30.720000px;}
.fs0{font-size:31.680000px;}
.fs1{font-size:32.160000px;}
.fs2{font-size:36.000000px;}
.fsb{font-size:36.096000px;}
.fsd{font-size:39.360000px;}
.fs8{font-size:39.840000px;}
.fs7{font-size:43.680000px;}
.fs5{font-size:44.160000px;}
.fs3{font-size:47.040000px;}
.fs6{font-size:48.000000px;}
.fs4{font-size:61.920000px;}
.y0{bottom:-0.500000px;}
.y1{bottom:0.000000px;}
.y31{bottom:11.640000px;}
.y49{bottom:18.336000px;}
.y48{bottom:18.672000px;}
.y47{bottom:18.720000px;}
.y4b{bottom:18.792000px;}
.y4a{bottom:20.040000px;}
.y43{bottom:29.712000px;}
.y42{bottom:38.952000px;}
.y36{bottom:40.536000px;}
.y32{bottom:46.080000px;}
.y33{bottom:46.824000px;}
.y35{bottom:50.016000px;}
.y2b{bottom:61.032000px;}
.y45{bottom:69.744000px;}
.y44{bottom:78.984000px;}
.y1f{bottom:86.784000px;}
.y1b{bottom:88.224000px;}
.y1a{bottom:88.488000px;}
.y1c{bottom:89.064000px;}
.y1d{bottom:91.224000px;}
.y2f{bottom:95.472000px;}
.y30{bottom:96.240000px;}
.y23{bottom:97.296000px;}
.y46{bottom:99.768000px;}
.y2a{bottom:112.540000px;}
.y18{bottom:114.310000px;}
.y41{bottom:116.830000px;}
.y17{bottom:123.790000px;}
.y40{bottom:130.540000px;}
.y19{bottom:137.140000px;}
.y3e{bottom:137.470000px;}
.y4c{bottom:138.260000px;}
.y21{bottom:138.650000px;}
.y20{bottom:139.030000px;}
.y22{bottom:140.350000px;}
.y3f{bottom:144.410000px;}
.y2d{bottom:146.710000px;}
.y2c{bottom:147.000000px;}
.y2e{bottom:147.740000px;}
.y3d{bottom:158.280000px;}
.y25{bottom:160.610000px;}
.y38{bottom:165.240000px;}
.y3c{bottom:172.180000px;}
.y28{bottom:173.400000px;}
.y15{bottom:182.060000px;}
.y3b{bottom:186.050000px;}
.y39{bottom:192.980000px;}
.y3a{bottom:199.920000px;}
.y1e{bottom:202.920000px;}
.y26{bottom:207.530000px;}
.y16{bottom:216.220000px;}
.y37{bottom:217.320000px;}
.y27{bottom:223.420000px;}
.y29{bottom:224.740000px;}
.y14{bottom:240.650000px;}
.y34{bottom:241.180000px;}
.y24{bottom:242.140000px;}
.yd{bottom:282.020000px;}
.ya{bottom:317.060000px;}
.yc{bottom:317.380000px;}
.yb{bottom:317.740000px;}
.y9{bottom:317.810000px;}
.y10{bottom:320.780000px;}
.ye{bottom:324.860000px;}
.y4{bottom:328.870000px;}
.yf{bottom:333.980000px;}
.y5{bottom:335.330000px;}
.y7{bottom:335.470000px;}
.y2{bottom:345.620000px;}
.y12{bottom:354.700000px;}
.y6{bottom:358.850000px;}
.y13{bottom:359.040000px;}
.y3{bottom:359.640000px;}
.y8{bottom:374.660000px;}
.y11{bottom:382.300000px;}
.hd{height:25.136719px;}
.he{height:29.315520px;}
.hf{height:29.416608px;}
.h11{height:32.348160px;}
.p_h6{height:33.073920px;}
.p_h2{height:33.359040px;}
.p_h3{height:33.864480px;}
.p_h8{height:37.216875px;}
.hb{height:37.584000px;}
.p_h4{height:37.908000px;}
.h10{height:38.009088px;}
.h12{height:41.091840px;}
.hc{height:41.592960px;}
.ha{height:45.601920px;}
.p_h5{height:49.109760px;}
.p_h9{height:50.112000px;}
.p_h7{height:52.184531px;}
.h0{height:402.480000px;}
.p_h1{height:403.000000px;}
.w2{width:708.599989px;}
.w0{width:708.600000px;}
.w1{width:709.000000px;}
.x0{left:0.000000px;}
.x23{left:17.927989px;}
.x13{left:22.463989px;}
.x25{left:32.903989px;}
.x27{left:35.447989px;}
.x14{left:36.719989px;}
.x28{left:38.735989px;}
.x2a{left:40.343989px;}
.x29{left:47.135989px;}
.x2b{left:48.743989px;}
.x2c{left:70.055989px;}
.x2f{left:71.159989px;}
.x26{left:81.503989px;}
.x24{left:112.869989px;}
.x30{left:120.219989px;}
.x2d{left:125.879989px;}
.x2e{left:169.629989px;}
.x10{left:187.579989px;}
.x15{left:227.179989px;}
.x17{left:230.999989px;}
.x22{left:232.339989px;}
.x1f{left:249.499989px;}
.x3d{left:273.819989px;}
.x7{left:285.379989px;}
.xf{left:287.279989px;}
.x3{left:291.099989px;}
.x21{left:294.889989px;}
.x1{left:308.059989px;}
.x20{left:310.849989px;}
.x8{left:313.219989px;}
.x1e{left:325.899989px;}
.x1d{left:327.259989px;}
.x3e{left:329.329989px;}
.x4{left:335.859989px;}
.x9{left:346.179989px;}
.x16{left:367.099989px;}
.x18{left:368.229989px;}
.x19{left:387.169989px;}
.x1a{left:404.739989px;}
.x6{left:416.209989px;}
.x2{left:417.479989px;}
.x1c{left:428.419989px;}
.xa{left:432.979989px;}
.x1b{left:439.509989px;}
.x5{left:442.989989px;}
.xb{left:463.779989px;}
.x31{left:475.269989px;}
.x33{left:485.999989px;}
.x3a{left:487.009989px;}
.x34{left:488.519989px;}
.xc{left:493.129989px;}
.xd{left:521.949989px;}
.x35{left:532.659989px;}
.x3b{left:539.589989px;}
.x3c{left:541.969989px;}
.xe{left:553.629989px;}
.x37{left:586.249989px;}
.x36{left:590.999989px;}
.x39{left:593.259989px;}
.x38{left:594.499989px;}
.x11{left:609.189989px;}
.x12{left:625.629989px;}
.x32{left:629.159989px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.010240pt;}
.ls3{letter-spacing:0.194667pt;}
.ls1{letter-spacing:0.320000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-1.434880pt;}
._1{width:1.505280pt;}
._5{width:3.407360pt;}
._12{width:11.914667pt;}
._3{width:73.814613pt;}
._b{width:81.968000pt;}
._6{width:89.840000pt;}
._9{width:95.562667pt;}
._a{width:99.173547pt;}
._2{width:101.931733pt;}
._8{width:161.433600pt;}
._d{width:177.194667pt;}
._7{width:184.429056pt;}
._c{width:192.042880pt;}
._f{width:198.480000pt;}
._e{width:199.888000pt;}
._11{width:202.554667pt;}
._10{width:209.285333pt;}
._0{width:362.950187pt;}
.fs9{font-size:37.120000pt;}
.fsa{font-size:37.248000pt;}
.fsc{font-size:40.960000pt;}
.fs0{font-size:42.240000pt;}
.fs1{font-size:42.880000pt;}
.fs2{font-size:48.000000pt;}
.fsb{font-size:48.128000pt;}
.fsd{font-size:52.480000pt;}
.fs8{font-size:53.120000pt;}
.fs7{font-size:58.240000pt;}
.fs5{font-size:58.880000pt;}
.fs3{font-size:62.720000pt;}
.fs6{font-size:64.000000pt;}
.fs4{font-size:82.560000pt;}
.y0{bottom:-0.666667pt;}
.y1{bottom:0.000000pt;}
.y31{bottom:15.520000pt;}
.y49{bottom:24.448000pt;}
.y48{bottom:24.896000pt;}
.y47{bottom:24.960000pt;}
.y4b{bottom:25.056000pt;}
.y4a{bottom:26.720000pt;}
.y43{bottom:39.616000pt;}
.y42{bottom:51.936000pt;}
.y36{bottom:54.048000pt;}
.y32{bottom:61.440000pt;}
.y33{bottom:62.432000pt;}
.y35{bottom:66.688000pt;}
.y2b{bottom:81.376000pt;}
.y45{bottom:92.992000pt;}
.y44{bottom:105.312000pt;}
.y1f{bottom:115.712000pt;}
.y1b{bottom:117.632000pt;}
.y1a{bottom:117.984000pt;}
.y1c{bottom:118.752000pt;}
.y1d{bottom:121.632000pt;}
.y2f{bottom:127.296000pt;}
.y30{bottom:128.320000pt;}
.y23{bottom:129.728000pt;}
.y46{bottom:133.024000pt;}
.y2a{bottom:150.053333pt;}
.y18{bottom:152.413333pt;}
.y41{bottom:155.773333pt;}
.y17{bottom:165.053333pt;}
.y40{bottom:174.053333pt;}
.y19{bottom:182.853333pt;}
.y3e{bottom:183.293333pt;}
.y4c{bottom:184.346667pt;}
.y21{bottom:184.866667pt;}
.y20{bottom:185.373333pt;}
.y22{bottom:187.133333pt;}
.y3f{bottom:192.546667pt;}
.y2d{bottom:195.613333pt;}
.y2c{bottom:196.000000pt;}
.y2e{bottom:196.986667pt;}
.y3d{bottom:211.040000pt;}
.y25{bottom:214.146667pt;}
.y38{bottom:220.320000pt;}
.y3c{bottom:229.573333pt;}
.y28{bottom:231.200000pt;}
.y15{bottom:242.746667pt;}
.y3b{bottom:248.066667pt;}
.y39{bottom:257.306667pt;}
.y3a{bottom:266.560000pt;}
.y1e{bottom:270.560000pt;}
.y26{bottom:276.706667pt;}
.y16{bottom:288.293333pt;}
.y37{bottom:289.760000pt;}
.y27{bottom:297.893333pt;}
.y29{bottom:299.653333pt;}
.y14{bottom:320.866667pt;}
.y34{bottom:321.573333pt;}
.y24{bottom:322.853333pt;}
.yd{bottom:376.026667pt;}
.ya{bottom:422.746667pt;}
.yc{bottom:423.173333pt;}
.yb{bottom:423.653333pt;}
.y9{bottom:423.746667pt;}
.y10{bottom:427.706667pt;}
.ye{bottom:433.146667pt;}
.y4{bottom:438.493333pt;}
.yf{bottom:445.306667pt;}
.y5{bottom:447.106667pt;}
.y7{bottom:447.293333pt;}
.y2{bottom:460.826667pt;}
.y12{bottom:472.933333pt;}
.y6{bottom:478.466667pt;}
.y13{bottom:478.720000pt;}
.y3{bottom:479.520000pt;}
.y8{bottom:499.546667pt;}
.y11{bottom:509.733333pt;}
.hd{height:33.515625pt;}
.he{height:39.087360pt;}
.hf{height:39.222144pt;}
.h11{height:43.130880pt;}
.p_h6{height:44.098560pt;}
.p_h2{height:44.478720pt;}
.p_h3{height:45.152640pt;}
.p_h8{height:49.622500pt;}
.hb{height:50.112000pt;}
.p_h4{height:50.544000pt;}
.h10{height:50.678784pt;}
.h12{height:54.789120pt;}
.hc{height:55.457280pt;}
.ha{height:60.802560pt;}
.p_h5{height:65.479680pt;}
.p_h9{height:66.816000pt;}
.p_h7{height:69.579375pt;}
.h0{height:536.640000pt;}
.p_h1{height:537.333333pt;}
.w2{width:944.799986pt;}
.w0{width:944.800000pt;}
.w1{width:945.333333pt;}
.x0{left:0.000000pt;}
.x23{left:23.903986pt;}
.x13{left:29.951986pt;}
.x25{left:43.871986pt;}
.x27{left:47.263986pt;}
.x14{left:48.959986pt;}
.x28{left:51.647986pt;}
.x2a{left:53.791986pt;}
.x29{left:62.847986pt;}
.x2b{left:64.991986pt;}
.x2c{left:93.407986pt;}
.x2f{left:94.879986pt;}
.x26{left:108.671986pt;}
.x24{left:150.493319pt;}
.x30{left:160.293319pt;}
.x2d{left:167.839986pt;}
.x2e{left:226.173319pt;}
.x10{left:250.106653pt;}
.x15{left:302.906653pt;}
.x17{left:307.999986pt;}
.x22{left:309.786653pt;}
.x1f{left:332.666653pt;}
.x3d{left:365.093319pt;}
.x7{left:380.506653pt;}
.xf{left:383.039986pt;}
.x3{left:388.133319pt;}
.x21{left:393.186653pt;}
.x1{left:410.746653pt;}
.x20{left:414.466653pt;}
.x8{left:417.626653pt;}
.x1e{left:434.533319pt;}
.x1d{left:436.346653pt;}
.x3e{left:439.106653pt;}
.x4{left:447.813319pt;}
.x9{left:461.573319pt;}
.x16{left:489.466653pt;}
.x18{left:490.973319pt;}
.x19{left:516.226653pt;}
.x1a{left:539.653319pt;}
.x6{left:554.946653pt;}
.x2{left:556.639986pt;}
.x1c{left:571.226653pt;}
.xa{left:577.306653pt;}
.x1b{left:586.013319pt;}
.x5{left:590.653319pt;}
.xb{left:618.373319pt;}
.x31{left:633.693319pt;}
.x33{left:647.999986pt;}
.x3a{left:649.346653pt;}
.x34{left:651.359986pt;}
.xc{left:657.506653pt;}
.xd{left:695.933319pt;}
.x35{left:710.213319pt;}
.x3b{left:719.453319pt;}
.x3c{left:722.626653pt;}
.xe{left:738.173319pt;}
.x37{left:781.666653pt;}
.x36{left:787.999986pt;}
.x39{left:791.013319pt;}
.x38{left:792.666653pt;}
.x11{left:812.253319pt;}
.x12{left:834.173319pt;}
.x32{left:838.879986pt;}
}
