.p2-table {
    width: 180px;
    height: 180px;
    border-collapse: collapse;
    margin: 0 auto;
}

.p2-container {
    display: flex;
    justify-content: center;
    min-width: 1110px
}

.p2-filled {
    background-color: #4D4D4D;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;

}

.p2-dark {
    background-color: #B0B0B0;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;

}

.p2-light {
    background-color: #F0F0F0;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;

}

.p2-question {
    background-color: #ffffff;
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.p2-question::after {
    content: "?";
    font-size: 24px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.p2-attribute-label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
}
